* {
  box-sizing: border-box;
}

body {
  /* align-items: center;*/
  display: flex;
  height: 100vh;
  /* justify-content: center; */
  margin: 0;
  background-color: black;
}

button {
  font-size: 18px;
  padding: 10px;
  opacity: 0.75;
  display: none;
  font-family: 'Teko', sans-serif;
  /* position: absolute;
  z-index: 1; */
}

.space {
  align-items: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  display: none;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 100vh;
  max-width: 100vh;
  background-image: url('../images/gif\ space\ galaxy.gif');
  background-position: center;
  background-size: cover;
  
}

.space div {
  flex-grow: 1;
  height: 4.761904%;
  width: 4.761904%;
}

.title-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  background-image: url('../images/earth-invaders.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
  font-family: 'Teko', sans-serif;
}

h1 {
  font: 6em bold;
  /* font-family: 'Heebo', sans-serif; */
  /* font-family: 'Bowlby One SC', cursive; */
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Anton', sans-serif; 2nd place */
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
  /* font-family: 'Teko', sans-serif; 3rd place */
  font-family: 'Bangers', cursive;
  /* font-family: 'Wallpoet', cursive; score text and graphics */
  /* font-family: 'Sigmar One', cursive; 2nd place tie */
}

.title-hero div {
  font-size: 1.5em;
  padding: 1rem;
}

.inspired {
  padding: 0;
}

.high-scores {
  font-family: 'Lobster', cursive;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: flex-start; */
  flex-grow: 1;
  display: none;
  background-image: url('../images/mosaic-alien-on-wall-1670977.jpg');
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: 100%;
}

.instructions {
  background-color: gray;
  display: none;
}

.instructions img {
  height: 80px;
  width: 180px;
}

.high-scores button, .high-scores h2 {
  margin: 1rem;
}

.setting-up {
  padding: 1rem;
  margin: 1rem;
  font-family: 'Lobster', cursive;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  display: none;
  background-image: url('../images/Edited-Directions-Space_Invaders.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.setting-up h3 {
  font-size: 2em;
  color: white;
  font-family: 'Lobster', cursive;
}

.score {
  font-family: 'Wallpoet', cursive;
  color: white;
}

#scorecard {
  display: none
}

#lives {
  display: none
}

.turret {
  background-image: url('../images/spaceship-sprite-png-transparent.png');
  background-position: center;
  background-size: 100%;
}

.theFirst {
  background-image: url('../images/hiclipart.com-id_ilkxh.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.missile {
  background-image: url('../images/pulsating\ laser\ purple.gif');
  background-position: center;
  background-size: 180%;
  background-repeat: no-repeat;
}

.laser {
  background-image: url('../images/fireball-gif-transparent.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.explosion {
  background-image: url('../images/Big\ hit\ explosion.gif');
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: 100%;
}

.implosion {
  background-image: url('../images/test\ implosion.gif');
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: 100%;
}

.flash {
	-webkit-animation: flash linear 0.2s infinite;
	animation: flash linear 0.2s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
} 

.game-flash {
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
} 

.fade-in {
  -webkit-animation: fadein 5s;
  animation: fadein 6s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/*
* font-family: 'Heebo', sans-serif;
* font-family: 'Bowlby One SC', cursive;
* font-family: 'Josefin Sans', sans-serif;
* font-family: 'Anton', sans-serif;
* font-family: 'Lobster', cursive;
* font-family: 'Yanone Kaffeesatz', sans-serif;
* font-family: 'Teko', sans-serif;
* font-family: 'Bangers', cursive;
* font-family: 'Wallpoet', cursive;
* font-family: 'Sigmar One', cursive;
*/